body {
    font-family: sans-serif, Helvetica, Arial;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}
h1 {
    color: rgb(149, 48, 27);
}
h2 {
    color: rgb(127, 85, 37);
}
h3 {
    color: rgb(145, 115, 59);
}
p {
    color: rgb(82, 78, 78);
}
#goal-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}
article {
    border: 2px solid #a42121;
    padding: 20px;
    border-radius: 5px;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #b0d6ce;
}
